.card-container img {
    width: 25%; 
    height: auto; 
}

.card-container {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 8px;
    margin: 2px;
    height: auto; 
    width: 200px; 
    background-color: rgb(241, 252, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.card-container:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
    background-color: #10cdde;
}

#game-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(249, 5, 5, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  
  #game-over h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #game-over p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #restart-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #restart-button:hover {
    background-color: #45a049;
  }
  